$roboto: Roboto, "Helvetica Neue", Arial, sans-serif;
$roboto-mono: "Roboto Mono", monospace;
$oswald: Oswald, sans-serif;
$vidaloka: Vidaloka, serif;
$cedarville: "Cedarville Cursive", serif;

$yellow: #ffb300;
$white: #fbf9f4;

$easing: cubic-bezier( 0.56, 0.01, 0.14, 1 );
$strong-ease-in-out: cubic-bezier( 0.93, 0, 0.47, 1 );
$strong-ease-out: cubic-bezier( 0, .52, .33, .99 );
$strong-ease-in: cubic-bezier( .67, 0, .99, .4 );

$mobile-breakpoint: 500px;