@import "reset";
@import "variables";
@import "mixins";

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $white;
    color: black;
    font-family: $roboto;
    overflow: hidden;
    position: fixed;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

a {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

*:focus, input[type="button"]:focus {
    outline: none;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

@import "navigation";
@import "shared";
@import "film";
@import "credits";
@import "about";
@import "player";
@import "cast";
@import "tech";
@import "footer";
@import "faq";
@import "login";
@import "making-of";
