<!DOCTYPE html>
<html>
	<head>
		<title>Tabel</title>

		<meta charset="UTF-8">

		<link rel="icon" href="/static/images/favicon.png">

		<meta name="author" content="Art Copy Code - Google">
		<meta name="description" content="With 6 storylines unfolding simultaneously, Tabel uses interactive directional audio to put you at the center of the chaos.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<link href="/static/main.css" rel="stylesheet">
	</head>

	<body>
        <div id="login">
            <div class="logo">
                <span class="title-char oswald-bold large">T</span>
                <span class="title-char vidaloka-regular large">A</span>
                <span class="title-char oswald-regular large">B</span>
                <span class="title-char oswald-bold large">E</span>
                <span class="title-char vidaloka-regular large">L</span>
            </div>

            <div class="message">
                Sorry, your browser is currently not supported. <br>
                Try one of these free browsers:
                <a href="https://www.google.com/chrome/browser/">Chrome (recommended)</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Edge</a>
            </div>
        </div>
	</body>
</html>